@model List<_01_Query.Contract.Article.ArticleQueryModel>
<div class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title s_title_style3">
                    <h2>آخرین مقاله ها</h2>
                </div>
                <div class="blog_container blog_column4 owl-carousel">
                    @foreach (var article in Model)
                    {
                        <article class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a asp-page="/ArticleDetails" asp-route-id="@article.Slug">
                                        <img src="~/Pictures/@article.Picture"
                                             alt="@article.PictureAlt" title="@article.PictureTitle">
                                    </a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4><a asp-page="/ArticleDetails" asp-route-id="@article.Slug">@article.Title</a></h4>
                                    <div class="post_meta">
                                        <p>منتشر شده در تاریخ:   <a href="#"></a><a href="#">@article.PublishDate</a></p>
                                    </div>
                                    <div class="post_desc">
                                        <p>@article.ShortDescription</p>
                                    </div>
                                    <footer class="post_readmore">
                                        <a asp-page="/ArticleDetails" asp-route-id="@article.Slug">بیشتر بخوانید</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </article>
                    }
                </div>
            </div>
        </div>
    </div>
</div>