@model List<_01_Query.Contract.Product.ProductQueryModel>
<div class="product_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_header">
                    <div class="section_title">
                        <h2>بیشترین بازدید</h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="Computer3" role="tabpanel">
                <div class="product_carousel product_style product_column5 owl-carousel">
                    @foreach (var product in Model)
                    {
                        <article class="single_product">
                            <figure>

                                <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img src="~/Pictures/@product.PrimaryPicture" alt="@product.PictureAlt" title="@product.PictureTitle"></a>
                                    <a class="secondary_img" href="product-details.html"><img src="~/Pictures/@product.SecondaryPicture" alt="@product.PictureAlt" title="@product.PictureTitle"></a>
                                    @if (product.HasDiscount)
                                    {
                                        <div class="label_product">
                                            <span class="label_sale">@product.DiscountRate%</span>
                                        </div>
                                    }
                                    <div class="action_links">
                                        <ul>
                                            <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="ion-android-favorite-outline"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <div class="product_content_inner">
                                        <h4 class="product_name"><a href="product-details.html">@product.Name</a></h4>
                                        @if (product.HasDiscount)
                                        {
                                            <div class="price_box">
                                                <span class="old_price">@product.Price تومان</span>
                                                <span class="current_price">@product.PriceWithDiscount تومان</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="price_box">
                                                <span class="current_price">@product.Price تومان</span>
                                            </div>
                                        }
                                    </div>
                                    <div class="add_to_cart">
                                        <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                                    </div>

                                </div>
                            </figure>
                        </article>
                    }
                </div>
            </div>
        </div>

    </div>
</div>