@page
@using _0_Framework.Application
@using ShopManagement.Application.Contract
@model ServiceHost.Pages.CheckoutModel

@{
    ViewData["Title"] = "ادامه و تکمیل فرایند خرید";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-page="/Index">صفحه اصلی</a></li>
                        <li><a asp-page="/ShoppingCart">سبد خرید</a></li>
                        <li>ادامه و تکمیل فرایند خرید</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="checkout_page_bg">
    <div class="container">
        <div class="Checkout_section">
            <div class="row">
                <div class="col-12">
                    <div class="user-actions">
                        <h3>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            کد تخفیف دارید؟
                            <a class="Returning" href="#" data-toggle="collapse" data-target="#checkout_coupon" aria-expanded="true">برای وارد کردن کد تخفیف کلیک کنید</a>
                        </h3>
                        <div id="checkout_coupon" class="collapse">
                            <div class="checkout_info">
                                <form action="#">
                                    <input placeholder="کد تخفیف" type="text" dir="ltr">
                                    <button type="submit">اعمال کد تخفیف</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout_form">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="checkout_form_right">
                            <form method="post">
                                <h3>فاکتور سفارش های شما</h3>
                                <div class="order_table table-responsive table-bordered">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>تصویر</th>
                                                <th>محصول</th>
                                                <th>تعداد</th>
                                                <th>قیمت واحد</th>
                                                <th>مبلغ کل بدون تخفیف</th>
                                                <th>درصد تخفیف</th>
                                                <th>مبلغ کل تخفیف</th>
                                                <th>مبلغ پس از تخفیف</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Cart.Items)
                                            {
                                                <tr>
                                                    <td>
                                                        <img src="~/Pictures/@item.Picture" style="width: 100px;height: 100px" alt="@item.Name" />
                                                    </td>
                                                    <td>
                                                        <span class="d-inline-block">@item.Name</span>
                                                    </td>
                                                    <td>@item.Count عدد</td>
                                                    <td>@item.UnitPrice.ToMoney() تومان</td>
                                                    <td>@item.TotalItemPrice.ToMoney() تومان</td>
                                                    <td>@item.DiscountRate%</td>
                                                    <td>@item.DiscountAmount.ToMoney() تومان</td>
                                                    <td>@item.ItemPayAmount.ToMoney() تومان</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <br />
                                </div>
                                <div class="">
                                    <h3>مشخصات فردی و آدرس</h3>
                                    <div class="row">
                                        <div class="col-lg-6 mb-20">
                                            <label>نام <span>*</span></label>
                                            <input type="text" name="name" id="name" required oninvalid="this.setCustomValidity('لطفا نام خود را وارد کنید')"
                                                   oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-lg-6 mb-20">
                                            <label>نام خانوادگی <span>*</span></label>
                                            <input type="text" name="family" id="family" required oninvalid="this.setCustomValidity('لطفا نام خانوادگی خود را وارد کنید')"
                                                   oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-12 mb-20">
                                            <label>نام فروشگاه یا شرکت</label>
                                            <input type="text" name="company" id="company">
                                        </div>
                                        <div class="col-lg-4 mb-20">
                                            <label>کشور <span>*</span></label>
                                            <input placeholder="مثلا : ایران" type="text" name="country" id="country" required oninvalid="this.setCustomValidity('لطفا کشور خود را وارد کنید')"
                                                   oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-lg-4 mb-20">
                                            <label>استان <span>*</span></label>
                                            <input placeholder="مثلا : تهران" type="text" name="state" id="state" required oninvalid="this.setCustomValidity('لطفا استان خود را وارد کنید')"
                                                   oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-lg-4 mb-20">
                                            <label>شهر / شهرستان <span>*</span></label>
                                            <input placeholder="مثلا : تهران" type="text" name="city" id="city" required oninvalid="this.setCustomValidity('لطفا شهر یا شهرستان خود را وارد کنید')"
                                                   oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-lg-12 mb-20">
                                            <label>خیابان <span>*</span></label>
                                            <input placeholder="نام خیابان و نام کوچه و ..." type="text" name="street" id="street" required oninvalid="this.setCustomValidity('لطفا آدرس خیابان خود را وارد کنید')"
                                                   oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-lg-4 mb-20">
                                            <label>کد پستی <span>*</span></label>
                                            <input type="text" name="postalCode" id="postalCode" required oninvalid="this.setCustomValidity('لطفا کد پستی آدرس خود را وارد کنید')"
                                                   oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-lg-4 mb-20">
                                            <label>شماره پلاک <span>*</span></label>
                                            <input type="text" name="plaqueNo" id="plaqueNo" required oninvalid="this.setCustomValidity('لطفا شماره پلاک آدرس خود را وارد کنید')"
                                                   oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-lg-4 mb-20">
                                            <label>تلفن همراه <span>*</span></label>
                                            <input type="text" dir="ltr" name="mobile" id="mobile" required oninvalid="this.setCustomValidity('لطفا تلفن همراه خود را وارد کنید')"
                                                   oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="col-lg-12 mb-20">
                                            <label>آدرس ایمیل <span>*</span></label>
                                            <input placeholder="مثلا : info@gmail.com" type="email" dir="rtl" name="email" id="email" required oninvalid="this.setCustomValidity('لطفا ایمیل خود را وارد کنید')"
                                                   oninput="this.setCustomValidity('')">
                                        </div>
                                        <div class="order-notes col-lg-12 mb-20">
                                            <label>توضیحات سفارش</label>
                                            <textarea placeholder="یادداشت های مربوط به سفارش، مانند نحوه ارسال، نحوه دریافت و ..." name="description" id="description"></textarea>
                                        </div>
                                    </div>
                                    <br />
                                    <h3>خلاصه وضعیت فاکتور</h3>
                                    <div class="order_table table-responsive table-bordered">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>مبلغ قابل پرداخت</th>
                                                    <th>مبلغ نهایی</th>
                                                    <th>مبلغ تخفیف</th>
                                                    <th>هزینه ارسال</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@Model.Cart.PayAmount.ToMoney() تومان</td>
                                                    <td>@Model.Cart.TotalAmount.ToMoney() تومان</td>
                                                    <td>@Model.Cart.DiscountAmount.ToMoney() تومان</td>
                                                    @if (Model.Cart.FreeTransform)
                                                    {
                                                        <td>رایگان</td>
                                                    }
                                                    else
                                                    {
                                                        <td>20,000 تومان</td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="payment_method" id="accordion">
                                    <h3>نحوه پرداخت</h3>
                                    @foreach (var method in PaymentMethod.GetList())
                                    {
                                        <div class="panel-default">
                                            <input type="radio" id="payment_@method.Id" name="paymentMethod" value="@method.Id" @(PaymentMethod.GetList().First().Id == method.Id ? "checked" : "")>
                                            <label for="payment_@method.Id" data-toggle="collapse"
                                                   data-target="#collapse_@method.Id" aria-controls="collapse_@method.Id">@method.Name</label>

                                                @if (PaymentMethod.GetList().FirstOrDefault(x => x.Id == 2)?.Name == method.Name)
                                                {
                                                    <img src="~/SiteTheme/assets/img/icon/BankLogo.png" alt="پرداخت اینترنتی">
                                                }
                                                <div id="collapse_@method.Id" class="collapse one" data-parent="#accordion">
                                                    <div class="card-body1">
                                                        <p data-method="@method.Id" style="display:@(PaymentMethod.GetList().First().Id == method.Id ? "block" : "none")">@method.Description</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                </div>
                                <br />
                                <div class="order_button">
                                    <button type="submit" asp-page-handler="Pay">تایید و پرداخت سفارش</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



