@page "{id}"
@model ServiceHost.Pages.ProductCategoryModel
@{
    ViewData["Title"] = "گروه محصولات";
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-page="/Index">صفحه اصلی</a></li>
                        <li>@Model.ProductCategory.Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop_area shop_reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_list widget_filter">
                        <h3>فیلتر با قیمت</h3>
                        <form action="#">
                            <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 14%; width: 66%;">
                                </div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 14%;">
                                </span>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 80%;">
                                </span>
                            </div>
                            <input type="text" id="amount">
                            <button type="submit">فیلتر</button>
                            <input type="hidden" id="price-min" name="price_min" value="700000">
                            <input type="hidden" id="price-max" name="price_max" value="4000000">
                        </form>
                    </div>

                    @await Component.InvokeAsync("RightSideBarGetLatestArrivals")

                    <div class="widget_list tags_widget">
                        <h3>برچسب های گروه محصولات</h3>
                        <div class="tag_cloud">
                            <a href="#">@Model.ProductCategory.Description</a>
                        </div>
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">

                <!--shop banner area start-->
                <div class="shop_banner_area mb-30">
                    <div class="row">
                        <div class="col-12">
                            <div class="shop_banner_thumb">
                                <img src="~/Pictures/@Model.ProductCategory.PrimaryPicture"
                                     alt="@Model.ProductCategory.PictureAlt" title="@Model.ProductCategory.PictureTitle">
                            </div>
                        </div>
                    </div>
                </div>
                <!--shop banner area end-->
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">
                        <button data-role="grid_4" type="button" class=" active btn-grid-4" data-toggle="tooltip" title="4"></button>
                        <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="List"></button>
                    </div>
                    <div class="page_amount">
                        <p>نمایش : @Model.ProductCategory.Products.Count محصول</p>
                    </div>
                </div>
                <!--shop toolbar end-->
                <!--shop wrapper start-->
                <div class="row no-gutters shop_wrapper">
                    @foreach (var product in Model.ProductCategory.Products)
                    {
                        <div class="col-lg-3 col-md-4 col-12 ">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a class="primary_img" asp-page="/ProductDetails" asp-route-id="@product.Slug">
                                            <img src="~/Pictures/@product.PrimaryPicture"
                                                 alt="@product.PictureAlt" title="@product.PictureTitle">
                                        </a>
                                        <a class="secondary_img" asp-page="/ProductDetails" asp-route-id="@product.Slug">
                                            <img src="~/Pictures/@product.SecondaryPicture"
                                                 alt="@product.PictureAlt" title="@product.PictureTitle">
                                        </a>
                                        @if (product.HasDiscount)
                                        {
                                            <div class="label_product">
                                                <span class="label_sale">@product.DiscountRate%</span>
                                            </div>
                                        }
                                    </div>

                                    <div class="product_content grid_content">
                                        <div class="product_content_inner">
                                            <h4 class="product_name"><a asp-page="/ProductDetails" asp-route-id="@product.Slug">@product.Name</a></h4>
                                            <div class="product_rating">
                                                <ul>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                </ul>
                                            </div>
                                            @if (product.HasDiscount)
                                            {
                                                <div class="price_box">
                                                    <span class="old_price">@product.Price تومان</span>
                                                    <span class="current_price">@product.PriceWithDiscount تومان</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="price_box">
                                                    <span class="current_price">@product.Price تومان</span>
                                                </div>
                                            }
                                        </div>
                                        <div class="add_to_cart">
                                            <a href="cart.html" title="" data-original-title="افزودن به سبد">افزودن به سبد</a>
                                        </div>
                                    </div>
                                    <div class="product_content list_content">
                                        <h4 class="product_name"><a href="product-details.html">@product.Name</a></h4>
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            </ul>
                                        </div>
                                        @if (product.HasDiscount)
                                        {
                                            <div class="price_box">
                                                <span class="old_price">@product.Price تومان</span>
                                                <span class="current_price">@product.PriceWithDiscount تومان</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="price_box">
                                                <span class="current_price">@product.Price تومان</span>
                                            </div>
                                        }
                                        <div class="product_desc">
                                            <p>@product.ShortDescription</p>
                                        </div>
                                        <div class="add_to_cart">
                                            <a href="cart.html" title="" data-original-title="افزودن به سبد">افزودن به سبد</a>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                    }
                </div>

                <div class="shop_toolbar t_bottom">
                    <div class="pagination">
                        <ul>
                            <li class="current">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#">بعدی</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>