@page
@inject IAuthHelper AuthHelper
@using _0_Framework.Application
@model ServiceHost.Pages.UserDashboardModel
@{
    ViewData["Title"] = "پروفایل من";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-page="/Index">صفحه اصلی</a></li>
                        <li>پروفایل من</li>
                        <li>@AuthHelper.CurrentAccountInfo().FullName</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="account_page_bg">
    <div class="container">
        <section class="main_content_area">
            <div class="account_dashboard">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <div class="dashboard_tab_button">
                            <ul role="tablist" class="nav flex-column dashboard-list">
                                <li><a href="#dashboard" data-toggle="tab" class="nav-link active">داشبورد</a></li>
                                <li> <a href="#orders" data-toggle="tab" class="nav-link"> سفارشات من</a></li>
                                <li><a href="#address" data-toggle="tab" class="nav-link">آدرس های من</a></li>
                                <li><a href="#changePassword" data-toggle="tab" class="nav-link">تغییر کلمه عبور</a></li>
                                <li><a asp-page="/Account" asp-page-handler="Logout" class="nav-link">خروج</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard_content">
                            <div class="tab-pane fade show active" id="dashboard">
                                <h3>داشبورد </h3>
                                <p>
                                    @AuthHelper.CurrentAccountInfo().FullName عزیز خوش آمدید. در این بخش می توانید کلیه سفارش های خود را مشاهده فرمایید. همچنین می توانید آدرس های مربوط به سفارش های خود را مشاهده نمایید.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="orders">
                                <h3>سفارشات من</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>شماره سفارش</th>
                                                <th>خریدار</th>
                                                <th>کل مبلغ</th>
                                                <th>کل تخفیف</th>
                                                <th>پرداختی</th>
                                                <th>شماره پیگیری</th>
                                                <th>شناسه خرید</th>
                                                <th>تاریخ خرید</th>
                                                <th>نحوه خرید</th>
                                                <th>وضعیت</th>
                                                <th>عملیات</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.Orders)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.AccountFullname</td>
                                                    <td>@item.TotalAmount.ToMoney() تومان</td>
                                                    <td>@item.DiscountAmount.ToMoney() تومان</td>
                                                    <td>@item.PayAmount.ToMoney() تومان</td>
                                                    <td>@item.IssueTrackingNo</td>
                                                    <td>@item.RefId</td>
                                                    <td>@item.CreationDate</td>
                                                    @if (item.PaymentMethod == 1)
                                                    {
                                                        <td>نقدی</td>
                                                    }
                                                    else
                                                    {
                                                        <td>اینترنتی</td>

                                                    }

                                                    <td>
                                                        @if (item.IsCanceled)
                                                        {
                                                            <span class="text-danger">کنسل شده</span>
                                                        }
                                                        @if (item.IsPaid)
                                                        {
                                                            <span class="text-success">پرداخت شده</span>
                                                        }
                                                        @if (!item.IsCanceled && !item.IsPaid)
                                                        {
                                                            <span class="text-warning">در انتظار پرداخت</span>
                                                        }
                                                    </td>
                                                    <td>

                                                        <a class="btn btn-warning btn-rounded waves-effect waves-light m-b-5"
                                                           asp-page="OrderItems" asp-page-handler="GetItems" asp-route-id="@item.Id">
                                                            <i class="fa fa-shopping-bag"></i>  محصولات
                                                        </a>

                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="address">
                                <h3>آدرس های من</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>شماره کاربر</th>
                                                <th>شماره سفارش</th>
                                                <th>نام</th>
                                                <th>نام خانوادگی</th>
                                                <th>شرکت یا فروشگاه</th>
                                                <th>کشور</th>
                                                <th>استان</th>
                                                <th>شهر / شهرستان</th>
                                                <th>خیابان</th>
                                                <th>کد پستی</th>
                                                <th>پلاک</th>
                                                <th>موبایل</th>
                                                <th>ایمیل</th>
                                                <th>توضیحات سفارش</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.PersonalInfo)
                                            {
                                                <tr>
                                                    <td>@item.AccountId</td>
                                                    <td>@item.OrderId</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Family </td>
                                                    <td>@item.Company</td>
                                                    <td>@item.Country</td>
                                                    <td>@item.State</td>
                                                    <td>@item.City</td>
                                                    <td>@item.Street</td>
                                                    <td>@item.PostalCode</td>
                                                    <td>@item.PlaqueNo</td>
                                                    <td>@item.Mobile</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.Description</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane" id="changePassword">
                                <form action="/" method="post">
                                    <p>آدرس های زیر به صورت پیش فرض در صفحه سفارش شما استفاده خواهند شد.</p>
                                    <h4 class="billing-address">آدرس صورت حساب</h4>
                                    <a href="#" class="view">ویرایش</a>
                                    <p><strong>جان اسنو</strong></p>
                                    <address>
                                        ایران<br>
                                        آذربایجان شرقی<br>
                                        تبریز<br>
                                        چهارراه آبرسان، فلکه دانشگاه، برج بلور، طبقه 456، واحد 89
                                    </address>
                                    <div class="save_button primary_btn default_button">
                                        <button type="submit">ویرایش</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>