@page
@inject IAuthHelper AuthHelper
@using _0_Framework.Application
@model ServiceHost.Pages.UserDashboardModel
@{
    ViewData["Title"] = "پروفایل من";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-page="/Index">صفحه اصلی</a></li>
                        <li><a href="#">پروفایل من</a></li>
                        <li>@AuthHelper.CurrentAccountInfo().FullName</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="account_page_bg">
    <div class="container">
        <section class="main_content_area">
            <div class="account_dashboard">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <div class="dashboard_tab_button">
                            <ul role="tablist" class="nav flex-column dashboard-list">
                                <li><a href="#dashboard" data-toggle="tab" class="nav-link active">داشبورد</a></li>
                                <li> <a href="#information" data-toggle="tab" class="nav-link"> مشخصات من</a></li>
                                <li> <a href="#orders" data-toggle="tab" class="nav-link"> سفارشات من</a></li>
                                <li><a href="#address" data-toggle="tab" class="nav-link">آدرس های من</a></li>
                                <li><a href="#changePassword" data-toggle="tab" class="nav-link">تغییر کلمه عبور</a></li>
                                <li><a asp-page="/Account" asp-page-handler="Logout" class="nav-link">خروج</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard_content">
                            <div class="tab-pane fade show active" id="dashboard">
                                <h3>داشبورد </h3>
                                <p>
                                    @AuthHelper.CurrentAccountInfo().FullName عزیز خوش آمدید. در این بخش می توانید کلیه سفارش های خود را مشاهده فرمایید. همچنین می توانید پروفایل کاربری خود را ویرایش نمایید و آدرس های مربوط به سفارش های خود را مشاهده نمایید.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="information">
                                <h3>مشخصات کاربری من</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>تصویر</th>
                                                <th>نام و نام خانوادگی</th>
                                                <th>نام کاربری</th>
                                                <th>شماره همراه</th>
                                                <th>تاریخ ایجاد اکانت</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                        <tr>

                                            <td>
                                                <img src="~/Pictures/@Model.AccountInfo.ProfilePhoto" style="width: 80px; height: 80px" alt="@Model.AccountInfo.FullName" title="@Model.AccountInfo.FullName"/>
                                            </td>
                                            <td>@Model.AccountInfo.FullName</td>
                                            <td>@Model.AccountInfo.Username</td>
                                            <td>@Model.AccountInfo.Mobile</td>
                                            <td>@Model.AccountInfo.CreationDate</td>

                                        </tr>


                                        </tbody>
                                    </table>
                                </div>

                                <br>

                                <h3>ویرایش مشخصات کاربری </h3>
                                <div class="login">
                                    <div class="login_form_container">
                                        <div class="account_login_form">
                                            <form method="post" enctype="multipart/form-data">
                                                <br>
                                                <label> نام و نام خانوادگی</label>
                                                <input type="text" name="fullName" value="@Model.GetAccountDetails.FullName" required="">
                                                <label>نام کاربری</label>
                                                <input type="text" name="userName" value="@Model.GetAccountDetails.Username" required="">
                                                <label>شماره همراه</label>
                                                <input type="text" name="mobile" value="@Model.GetAccountDetails.Mobile" required="">
                                                <label>تصویر پروفایل</label>
                                                <input type="file" name="profilePhoto">
                                                <input type="hidden" name="id" value="@Model.AccountInfo.Id">
                                                <input type="hidden" name="roleId" value="@Model.AccountInfo.RoleId">
                                                <br>
                                                <div class="save_button primary_btn default_button">
                                                    <button asp-page-handler="Edit" type="submit">ویرایش و ذخیره اطلاعات</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="orders">
                                <h3>سفارشات من</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>شماره سفارش</th>
                                                <th>خریدار</th>
                                                <th>کل مبلغ</th>
                                                <th>کل تخفیف</th>
                                                <th>پرداختی</th>
                                                <th>شماره پیگیری</th>
                                                <th>شناسه خرید</th>
                                                <th>تاریخ خرید</th>
                                                <th>نحوه خرید</th>
                                                <th>وضعیت</th>
                                                <th>عملیات</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.Orders)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@Model.AccountInfo.FullName</td>
                                                    <td>@item.TotalAmount.ToMoney() تومان</td>
                                                    <td>@item.DiscountAmount.ToMoney() تومان</td>
                                                    <td>@item.PayAmount.ToMoney() تومان</td>
                                                    <td>@item.IssueTrackingNo</td>
                                                    <td>@item.RefId</td>
                                                    <td>@item.CreationDate</td>
                                                    @if (item.PaymentMethod == 1)
                                                    {
                                                        <td>نقدی</td>
                                                    }
                                                    else
                                                    {
                                                        <td>اینترنتی</td>

                                                    }

                                                    <td>
                                                        @if (item.IsCanceled)
                                                        {
                                                            <span class="text-danger">کنسل شده</span>
                                                        }
                                                        @if (item.IsPaid)
                                                        {
                                                            <span class="text-success">پرداخت شده</span>
                                                        }
                                                        @if (!item.IsCanceled && !item.IsPaid)
                                                        {
                                                            <span class="text-warning">در انتظار پرداخت</span>
                                                        }
                                                    </td>
                                                    <td>

                                                        <a class="btn btn-warning btn-rounded waves-effect waves-light m-b-5"
                                                           asp-page="OrderItems" asp-page-handler="GetItems" asp-route-id="@item.Id">
                                                            <i class="fa fa-shopping-bag"></i>  محصولات
                                                        </a>

                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="address">
                                <h3>آدرس های من</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>شماره سفارش</th>
                                                <th>نام</th>
                                                <th>نام خانوادگی</th>
                                                <th>شرکت یا فروشگاه</th>
                                                <th>کشور</th>
                                                <th>استان</th>
                                                <th>شهر / شهرستان</th>
                                                <th>خیابان</th>
                                                <th>کد پستی</th>
                                                <th>پلاک</th>
                                                <th>موبایل</th>
                                                <th>ایمیل</th>
                                                <th>توضیحات سفارش</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.PersonalInfo)
                                            {
                                                <tr>
                                                    <td>@item.OrderId</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Family </td>
                                                    <td>@item.Company</td>
                                                    <td>@item.Country</td>
                                                    <td>@item.State</td>
                                                    <td>@item.City</td>
                                                    <td>@item.Street</td>
                                                    <td>@item.PostalCode</td>
                                                    <td>@item.PlaqueNo</td>
                                                    <td>@item.Mobile</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.Description</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane" id="changePassword">
                                <h3>تغییر کلمه عبور </h3>
                                <div class="login">
                                    <div class="login_form_container">
                                        <div class="account_login_form">
                                            <form method="post">

                                                <br>
                                                <label> کلمه عبور فعلی</label>
                                                <input type="text" disabled="" placeholder="********************" required="">
                                                <label> کلمه عبور جدید</label>
                                                <input type="text" name="password" required="">
                                                <label>تکرار کلمه عبور جدید</label>
                                                <input type="text" name="repassword" required="">
                                                <input type="hidden" name="id" value="@Model.AccountInfo.Id">
                                                <br>

                                                <div class="save_button primary_btn default_button">
                                                    <button asp-page-handler="ChangePassword" type="submit"> ذخیره اطلاعات</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>