@model List<_01_Query.Contract.Product.ProductQueryModel>
<div class="widget_list">
    <h3>جدیدترین محصولات</h3>
    <div class="recent_product_container">
        @foreach (var product in Model)
        {
            <article class="recent_product_list">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" asp-page="/ProductDetails" asp-route-id="@product.Slug"><img src="~/Pictures/@product.PrimaryPicture" alt="@product.PictureAlt" title="@product.PictureTitle"></a>
                        <a class="secondary_img" asp-page="/ProductDetails" asp-route-id="@product.Slug"><img src="~/Pictures/@product.SecondaryPicture" alt="@product.PictureAlt" title="@product.PictureTitle"></a>
                    </div>
                    <div class="product_content">
                        <h4><a asp-page="/ProductDetails" asp-route-id="@product.Slug">@product.Name</a></h4>
                        <div class="product_rating">
                            <ul>
                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                            </ul>
                        </div>
                        @if (product.HasDiscount)
                        {
                            <div class="price_box">
                                <span class="old_price">@product.Price تومان</span>
                                <span class="current_price">@product.PriceWithDiscount تومان</span>
                            </div>
                        }
                        else
                        {
                    <div class="price_box">
                        <span class="current_price">@product.Price تومان</span>
                    </div>
                        }
                    </div>
                </figure>
            </article>
        }
    </div>
</div>